// Clearfix
%cf {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
// @extend %cf;


// Hide element
%h {
  position: absolute;
  margin: -1px;
  padding: 0px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
// @extend %h;


// Image replacement
%im {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 500%;
}
// @extend %im;


// Display inline-block
%in {
  margin-right: -4px;
  display: inline-block;
  vertical-align: top;
}
// @extend %in;


// Justify line of items
%ju {
  text-align: justify;
  text-justify: distribute;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
// @extend %ju;
// Child items - display: inline-block;
