<section class="about__wrapper">
  <p>My name's <em>Edward Payton</em>, I specialise in Front-End Web Development.</p>
  <p>My approach is to start with the user, think about how they work, and what helps them to work better. Then through research, planning, and prototyping, I build websites that look and perform great on any device, and wow the user.</p>
  <p><a href="http://edwardpayton.com" target="_blank">Take a look at my website</a>, or contact me on the details below.</p>
  <ul>
  	<li><a href="mailto:edwardjpayton@gmail.com">edwardjpayton@gmail.com</a></li>
  	<li><a href="https://www.linkedin.com/in/edwardpayton">Linkedin/in.edwardpayton</a></li>
  </ul>
</section>
