<section class="weather__wrapper" ng-controller="WeatherController">
  <div class="weather__inner" ng-cloak>
    <div class="weather__titleBar">
      <p class="weather__title">
        Displaying the weather for {{ displayCity }} 
        <small>Updated at {{ updatedAt | date:'h:mm a' }}</small>
      </p>
      
      <form class="form__wrapper" role="form">
          <input ng-model="city" type="text" placeholder="Enter a City">
          <input ng-click="citySearch(city)" type="submit" value="Search">
      </form>
    </div>
    <div class="weather__list">
      <div class="weather__listItem" ng-repeat="x in forecast.list | limitTo:5">
        <weather-block day-index="forecast.list[$index]" ng-class="{'forecast__wrapper--today':$first}"></weather-block>
      </div>
      <div class="weather__error" ng-show="!forecast.list" ng-cloak>
        <p class="weather__githubPagesError">If you are seeing this message on Github pages, it is because is the Open Weather API is not served on a HTTPS url and so the script is blocked. To load the weather info you must allow un-secure scripts in your browser. Instructions can be found here for <a href="https://support.google.com/chrome/answer/1342714?hl=en-GB" target="_blank">Chrome</a> and <a href="https://blog.mozilla.org/tanvi/2013/04/10/mixed-content-blocking-enabled-in-firefox-23/" target="_blank">Firefox</a>.</p>
      </div>
    </div>
  </div>
</section>

<script type="text/ng-template" id="weatherTemplate.html">
  <article class="forecast__wrapper">
    <h3 class="forecast__date">
      {{formatDate(dayForecast.dt) | date:'EEEE'}}
      <small>{{formatDate(dayForecast.dt) | date:'MMM dd, y'}}</small>
    </h3>
    <div class="forecast__description">
      <i class="owf owf-{{dayForecast.weather[0].id}}"></i>
      <p>
        {{dayForecast.weather[0].main}}
        <small>{{dayForecast.weather[0].description}}</small>
      </p>
    </div>
    <p class="forecast__temp">
      {{dayForecast.temp.day | number:0}}&deg;C
      <small>
        <span>High: {{dayForecast.temp.max | number: 0}}&deg;C</span>
        <span>Low: {{dayForecast.temp.min | number: 0}}&deg;C</span>
      </small>
    </p>
  </article>
</script>
